################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServerHosting/packages
/ServerHosting/ServerHosting.WebApi/Deploy
ServerHosting/ServerHosting.Core/bin/Debug/Newtonsoft.Json.dll
ServerHosting/ServerHosting.Core/bin/Debug/Newtonsoft.Json.xml
ServerHosting/ServerHosting.Core/bin/Debug/ServerHosting.Core.dll
ServerHosting/ServerHosting.Core/bin/Debug/ServerHosting.Core.pdb
ServerHosting/ServerHosting.Core/obj/Debug/ServerHosting.Core.csproj.FileListAbsolute.txt
ServerHosting/ServerHosting.Core/obj/Debug/ServerHosting.Core.dll
ServerHosting/ServerHosting.Core/obj/Debug/ServerHosting.Core.pdb
ServerHosting/ServerHosting.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ServerHosting/ServerHosting.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ServerHosting/ServerHosting.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ServerHosting/ServerHosting.WebApi/bin/Antlr3.Runtime.dll
ServerHosting/ServerHosting.WebApi/bin/Antlr3.Runtime.pdb
ServerHosting/ServerHosting.WebApi/bin/CommonServiceLocator.dll
ServerHosting/ServerHosting.WebApi/bin/CommonServiceLocator.pdb
ServerHosting/ServerHosting.WebApi/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
ServerHosting/ServerHosting.WebApi/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
ServerHosting/ServerHosting.WebApi/bin/Microsoft.Web.Infrastructure.dll
ServerHosting/ServerHosting.WebApi/bin/Newtonsoft.Json.dll
ServerHosting/ServerHosting.WebApi/bin/Newtonsoft.Json.xml
ServerHosting/ServerHosting.WebApi/bin/roslyn/csc.exe
ServerHosting/ServerHosting.WebApi/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
ServerHosting/ServerHosting.WebApi/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
ServerHosting/ServerHosting.WebApi/bin/roslyn/Microsoft.CodeAnalysis.dll
ServerHosting/ServerHosting.WebApi/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
ServerHosting/ServerHosting.WebApi/bin/roslyn/Microsoft.CSharp.Core.targets
ServerHosting/ServerHosting.WebApi/bin/roslyn/Microsoft.VisualBasic.Core.targets
ServerHosting/ServerHosting.WebApi/bin/roslyn/System.Collections.Immutable.dll
ServerHosting/ServerHosting.WebApi/bin/roslyn/System.Reflection.Metadata.dll
ServerHosting/ServerHosting.WebApi/bin/roslyn/vbc.exe
ServerHosting/ServerHosting.WebApi/bin/roslyn/VBCSCompiler.exe
ServerHosting/ServerHosting.WebApi/bin/roslyn/VBCSCompiler.exe.config
ServerHosting/ServerHosting.WebApi/bin/ServerHosting.Core.dll
ServerHosting/ServerHosting.WebApi/bin/ServerHosting.Core.pdb
ServerHosting/ServerHosting.WebApi/bin/ServerHosting.WebApi.dll
ServerHosting/ServerHosting.WebApi/bin/ServerHosting.WebApi.dll.config
ServerHosting/ServerHosting.WebApi/bin/ServerHosting.WebApi.pdb
ServerHosting/ServerHosting.WebApi/bin/System.Net.Http.Formatting.dll
ServerHosting/ServerHosting.WebApi/bin/System.Net.Http.Formatting.xml
ServerHosting/ServerHosting.WebApi/bin/System.Web.Cors.dll
ServerHosting/ServerHosting.WebApi/bin/System.Web.Helpers.dll
ServerHosting/ServerHosting.WebApi/bin/System.Web.Helpers.xml
ServerHosting/ServerHosting.WebApi/bin/System.Web.Http.Cors.dll
ServerHosting/ServerHosting.WebApi/bin/System.Web.Http.Cors.xml
ServerHosting/ServerHosting.WebApi/bin/System.Web.Http.dll
ServerHosting/ServerHosting.WebApi/bin/System.Web.Http.WebHost.dll
ServerHosting/ServerHosting.WebApi/bin/System.Web.Http.WebHost.xml
ServerHosting/ServerHosting.WebApi/bin/System.Web.Http.xml
ServerHosting/ServerHosting.WebApi/bin/System.Web.Mvc.dll
ServerHosting/ServerHosting.WebApi/bin/System.Web.Mvc.xml
ServerHosting/ServerHosting.WebApi/bin/System.Web.Optimization.dll
ServerHosting/ServerHosting.WebApi/bin/System.Web.Optimization.xml
ServerHosting/ServerHosting.WebApi/bin/System.Web.Razor.dll
ServerHosting/ServerHosting.WebApi/bin/System.Web.Razor.xml
ServerHosting/ServerHosting.WebApi/bin/System.Web.WebPages.Deployment.dll
ServerHosting/ServerHosting.WebApi/bin/System.Web.WebPages.Deployment.xml
ServerHosting/ServerHosting.WebApi/bin/System.Web.WebPages.dll
ServerHosting/ServerHosting.WebApi/bin/System.Web.WebPages.Razor.dll
ServerHosting/ServerHosting.WebApi/bin/System.Web.WebPages.Razor.xml
ServerHosting/ServerHosting.WebApi/bin/System.Web.WebPages.xml
ServerHosting/ServerHosting.WebApi/bin/Unity.Abstractions.dll
ServerHosting/ServerHosting.WebApi/bin/Unity.Abstractions.pdb
ServerHosting/ServerHosting.WebApi/bin/Unity.Configuration.dll
ServerHosting/ServerHosting.WebApi/bin/Unity.Configuration.pdb
ServerHosting/ServerHosting.WebApi/bin/Unity.Container.dll
ServerHosting/ServerHosting.WebApi/bin/Unity.Container.pdb
ServerHosting/ServerHosting.WebApi/bin/Unity.Interception.Configuration.dll
ServerHosting/ServerHosting.WebApi/bin/Unity.Interception.Configuration.pdb
ServerHosting/ServerHosting.WebApi/bin/Unity.Interception.dll
ServerHosting/ServerHosting.WebApi/bin/Unity.Interception.pdb
ServerHosting/ServerHosting.WebApi/bin/Unity.RegistrationByConvention.dll
ServerHosting/ServerHosting.WebApi/bin/Unity.RegistrationByConvention.pdb
ServerHosting/ServerHosting.WebApi/bin/Unity.ServiceLocation.dll
ServerHosting/ServerHosting.WebApi/bin/Unity.ServiceLocation.pdb
ServerHosting/ServerHosting.WebApi/bin/Unity.WebApi.dll
ServerHosting/ServerHosting.WebApi/bin/WebGrease.dll
ServerHosting/ServerHosting.WebApi/obj/Debug/ServerHosting.WebApi.csproj.FileListAbsolute.txt
ServerHosting/ServerHosting.WebApi/obj/Debug/ServerHosting.WebApi.csprojResolveAssemblyReference.cache
ServerHosting/ServerHosting.WebApi/obj/Debug/ServerHosting.WebApi.dll
ServerHosting/ServerHosting.WebApi/obj/Debug/ServerHosting.WebApi.pdb
ServerHosting/ServerHosting.WebApi/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ServerHosting/ServerHosting.WebApi/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ServerHosting/ServerHosting.WebApi/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
